@font-face {
    font-family: 'Baskervville-Regular' ;
    src: url(/Baskervville-Regular.otf);
}

body {
    background-color: rgb(252, 241, 227);
    font-family: 'Baskervville-Regular' ;
}

header {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

header img {
    width: 40%;
}

table {
    border-collapse: collapse;
}

th, td {
    border : 1px solid black;
    padding: 0.5rem;
}

.price-before {
    text-decoration: line-through;
}

